absl-py==0.5.0
atomicwrites==1.2.1
attrs==18.2.0
backcall==0.2.0
cachetools==5.4.0
certifi==2024.7.4
chardet==3.0.4
colorama==0.4.6
cycler==0.10.0
decorator==5.1.1
deepdiff==6.7.1
docopt==0.6.2
entrypoints==0.4
enum34==1.1.6
future==0.16.0
gitdb==4.0.11
GitPython==3.1.43
graphviz==0.20.1
idna==2.7
imageio==2.4.1
importlib-metadata==6.7.0
ipykernel==5.5.5
ipython==7.33.0
ipython_genutils==0.2.0
jedi==0.19.1
jsonpickle==1.5.2
jupyter-client==5.3.4
jupyter_core==4.12.0
kiwisolver==1.0.1
matplotlib==3.0.0
matplotlib-inline==0.1.7
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mock==2.0.0
more-itertools==4.3.0
mpyq==0.2.5
munch==2.3.2
numpy==1.21.6
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-ml-py==12.535.161
nvitop==1.3.2
ordered-set==4.1.0
packaging==24.0
panda==0.3.1
pandas==1.3.5
parso==0.8.4
pathlib2==2.3.2
pbr==4.3.0
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.4.0
pip==22.3.1
pluggy==0.7.1
portpicker==1.2.0
probscale==0.2.3
prompt_toolkit==3.0.47
protobuf==3.6.1
psutil==6.0.0
ptyprocess==0.7.0
py==1.6.0
py-cpuinfo==9.0.0
pygame==2.0.0
Pygments==2.16.1
pyparsing==2.2.2
PySC2==3.0.0
pytest==3.8.2
python-dateutil==2.9.0
pytz==2024.1
PyYAML==3.13
pyzmq==19.0.2
requests==2.20.0
s2clientprotocol==4.10.1.75800.0
s2protocol==5.0.13.92440.1
sacred==0.8.2
scipy==1.1.0
setuptools==65.6.3
six==1.16.0
sk-video==1.1.10
SMAC==1.0.0
smmap==5.0.1
snakeviz==1.0.0
sparsemax==0.1.9
tabulate==0.9.0
tensorboard-logger==0.1.0
termcolor==2.3.0
torch==1.8.0+cu111
torchaudio==0.8.0
torchvision==0.9.0+cu111
torchviz==0.0.3
tornado==6.1
traitlets==5.0.0
typing_extensions==4.7.1
urllib3==1.24.2
wcwidth==0.1.9
websocket-client==0.53.0
wheel==0.38.4
whichcraft==0.5.2
wrapt==1.10.11
zipp==3.15.0
